.App {
  text-align: center;
}

.navbar .container-fluid .navbar-brand{
  color:white; 
  font-weight: 400; 
  font-size: x-large;
}

#hero{
  background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.42)), url('image/hero.jpg');
  background-position: center;
  background-size: cover;
}

.title-header{
  text-align: center;
  padding-top: 6vh;
  padding-bottom: 3vh;
}

#country{
  max-width: 1000px;
  max-height: 80px;
}

#img-country{
  align-items: center;
}

#about{
  margin-left: 100px;
  margin-right: 100px;
}